{% extends 'base.html' %}
{% load static %}


{% block head %}
    <title>یونی پال</title>
    <link rel="stylesheet" href="{% static 'css/new-order-details-style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block page %}
    <div class="page-wrapper">
        <div class="container">
            <h3 class="order-details-heading">جزئیات سفارش:</h3>
            <div class="content-wrapper">
                <form action="" method="">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group rtl">
                                <label for="">تاریخ:</label>
                                <input type="text" class="form-control ltr">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group rtl">
                                <label for="">مهلت پرداخت:</label>
                                <input type="text" class="form-control ltr" id="time">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group rtl">
                                <label for="">سفارش را برای چه کسی ثبت می کنید؟</label>
                                <input type="text" class="form-control ltr">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group rtl">
                                <label for="">نام کاربری تافل در سایت ets.org :</label>
                                <input type="text" class="form-control ltr">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group rtl">
                                <label for="">نوع زمان ثبت نام:</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group rtl">
                                <label for="">هزینه ثبت نام تافل به دلار:</label>
                                <input type="text" class="form-control ltr">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group rtl">
                                <label for="">قیمت دلار با 7 درصد کارمزد:</label>
                                <input type="text" class="form-control ltr">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group rtl">
                                <label for="">تاریخ آزمون تافل:</label>
                                <input type="text" class="form-control ltr">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group rtl">
                                <label for="">نام مرکز برگزاری آزمون تافل:</label>
                                <input type="text" class="form-control ltr">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group rtl">
                                <label for="">قیمت دلار با 7 درصد کارمزد:</label>
                                <input type="text" class="form-control ltr">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group rtl">
                                <label for="">نوع مدرک شناسایی:</label>
                                <input type="text" class="form-control rtl" value="کد ملی">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group rtl">
                                <label for="">در کدام کشور ها قصد به ادامه ی تحصیل دارید؟</label>
                                <input type="text" class="form-control rtl" value="ایرلند،استرالیا">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group rtl">
                                <label for="">در کدام کشور ها قصد به ادامه ی تحصیل دارید؟</label>
                                <input type="text" class="form-control rtl" value="دیگر">
                            </div>
                        </div>
                    </div>
                    <br>
                    <table class="table table-primary table-striped table-hover table-bordered text-center table-responsive-sm">
                        <thead>
                            <tr>
                                <th>محصول</th>
                                <th>تعداد</th>
                                <th>قیمت واحد</th>
                                <th>قیمت</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>محصول</td>
                                <td>1</td>
                                <td>42,750,000 ریال </td>
                                <td>42,750,000 ریال </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="securety">
                        <p class="rtl">لطفاً حاصل عبارت زیر را به درستی وارد کنید:</p>
                        <div class="row" dir="ltr">
                            <div class="col-6 col-xl-3 col-lg-4 col-md-5 col-sm-6">
                                <span id="firstNumber"></span>
                                <span> - </span>
                                <span id="secondNumber"></span>
                                <span> = </span>
                            </div>
                            <div class="col-6 col-xl-3 col-lg-4 col-md-5 col-sm-6" style="vertical-align: middle;">
                                <input type="number" class="form-control">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script>
        //Timer
        let minute = 1;
        let second = 0;
        const timeInput = document.getElementById("time");
        var timer = setInterval(timer, 1000);

        function timer() {
            second--;
            if (second < 0) {
                minute--;
                second = 59;
            }
            if (minute <= 0 && second <= 0) {
                clearInterval(timer);
            }
            let minuteString = (minute >= 10) ? minute.toString() : "0" + minute;
            let secondString = (second >= 10) ? second.toString() : "0" + second;
            timeInput.value = minuteString + ":" + secondString;
        }

        //Security Code
        const firstRandom = Math.ceil(Math.random() * 30);
        const secondRandom = Math.ceil(Math.random() * 30);
        const maxRandomNumber = Math.max(firstRandom, secondRandom);
        const minRandomNumber = Math.min(firstRandom, secondRandom);
        const firstNumber = document.getElementById("firstNumber");
        firstNumber.innerHTML = maxRandomNumber;
        const secondNumber = document.getElementById("secondNumber");
        secondNumber.innerHTML = minRandomNumber;
    </script>

{% endblock %}